.promo {
   padding: 30px;
}

.promo__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.promo__content {
   padding-right: 65px;
}

.promo__title {
   margin: 0 0 30px;
}

.promo__text {
   max-width: 487px;
   margin: 0 0 45px;
   @extend %font-add;
   @include font ($size: 1.8rem, $height: 2.8rem, $weight: normal);

}

.promo__buttons>.button {
   margin-right: 44px;
}